<ion-content padding>
  <button (click)="dismissModal(false)">
    <ion-icon name="close"></ion-icon>
  </button>

  <form [formGroup]="noteForm" (ngSubmit)="saveNote()">
    <ion-item lines="none">
      <ion-label position="stacked">Note Title</ion-label>
      <ion-input type="text" formControlName="title" required autofocus></ion-input>
    </ion-item>

    <app-quill #quill></app-quill>

    <ion-button [disabled]="!noteForm.valid" type="submit" expand="block">Save Note</ion-button>
  </form>
</ion-content>