.header {
  align-items: center;
  background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  display: flex;
  justify-content: space-around;
  padding: 15px 0;

  .center-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 15%;
  }
}
