.note-list-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .note-details {
    h2 {
      margin-bottom: 5px;
    }

    p {
      color: rgb(167, 164, 164);
      margin: 0;
    }
  }

  ion-icon {
    font-size: 32px;
  }
}
