.color-border-left {
  border-left: 5px solid lawngreen;
}

.note-list-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;

  .note-details {
    h2 {
      font-size: 1.2rem;
      margin: 0;
      margin-top: 4px;
      margin-bottom: 1px;
      color: rgb(28, 31, 32);
    }

    p {
      color: rgb(167, 164, 164);
      margin: 0;
      font-style: italic;
    }
  }

  ion-icon {
    font-size: 32px;
  }
}
